<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Notification</title>


    <style type="text/css">
        img {
            max-width: 100%;
        }

        a.action {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            box-sizing: border-box;
            font-size: 12px;
            text-decoration: underline;
            margin: 0;
            color: #445d88
        }

        body {
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none;
            width: 100% !important;
            height: 100%;
            line-height: 1.6em;
        }

        body {
            background-color: #f6f6f6;
        }

        @media only screen and (max-width: 640px) {
            body {
                padding: 0 !important;
            }

            h1 {
                font-weight: 800 !important;
                margin: 20px 0 5px !important;
            }

            h2 {
                font-weight: 800 !important;
                margin: 20px 0 5px !important;
            }

            h3 {
                font-weight: 800 !important;
                margin: 20px 0 5px !important;
            }

            h4 {
                font-weight: 800 !important;
                margin: 20px 0 5px !important;
            }

            h1 {
                font-size: 22px !important;
            }

            h2 {
                font-size: 18px !important;
            }

            h3 {
                font-size: 16px !important;
            }

            .container {
                padding: 0 !important;
                width: 100% !important;
            }

            .content {
                padding: 0 !important;
            }

            .content-wrap {
                padding: 10px !important;
            }

        }
    </style>
</head>

<body
        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6em; background-color: #f6f6f6; margin: 0;"
        bgcolor="#f6f6f6">

<table class="body-wrap"
       style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; background-color: #f6f6f6; margin: 0;">
    <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
        <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;"
            valign="top"></td>
        <td class="container" width="600"
            style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto;"
            valign="top">
            <div class="content"
                 style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; max-width: 600px; display: block; margin: 0 auto; padding: 20px;">
                <table class="main" width="100%" cellpadding="0" cellspacing="0"
                       style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; border-radius: 3px; background-color: #fff; margin: 0; border: 1px solid #e9e9e9;"
                       bgcolor="#fff">
                    <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                        <td class="content-wrap"
                            style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 20px;"
                            valign="top">
                            <table width="100%" cellpadding="0" cellspacing="0"
                                   style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                <tr>
                                    <td class="content-block">
                                        <h3 style="margin-bottom: 0; color: #595f66"><%= time %> </h3>
                                    </td>
                                </tr>
                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">

                                    <td class="content-block"
                                        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                                        valign="top">
                                        <ul style="list-style: none; padding-left: 0">
                                            <% if(networkEvents.length > 0){ %>
                                                <% networkEvents.forEach(event => { %>
                                                    <li>
                                                        <h4 style="margin-bottom: 0;color: #595f66"><%= event.source %></h4>
                                                        <p style="margin-bottom: 0; margin-top: 0; color: #595f66">
                                                            <%= event.description %>.
                                                        </p>
                                                        <% if(event.displayChangeMessage){ %>
                                                            <% if(Array.isArray(event.data.from)){ %>
                                                                <% if(event.data.from.filter(x => !event.data.to.includes(x)).length > 0){ %>
                                                                    <div style="margin-bottom: 5px; margin-top: 5px; color: white;border: 2px none #98a6bd;padding: 1px 8px 1px 8px;border-radius: 2px;background: #17a2b8;">
                                                                        <%= event.data.from.filter(x => !event.data.to.includes(x)).join(", ") %>
                                                                        removed
                                                                    </div>
                                                                <% } %>
                                                                <% if(event.data.to.filter(x => !event.data.from.includes(x)).length > 0){ %>
                                                                    <div style="margin-bottom: 5px; margin-top: 5px; color: white;border: 2px none #98a6bd;padding: 1px 8px 1px 8px;border-radius: 2px;background: #17a2b8;">
                                                                        <%= event.data.to.filter(x => !event.data.from.includes(x)).join(", ") %>
                                                                        added
                                                                    </div>
                                                                <% } %>
                                                            <% } else { %>
                                                                <div style="margin-bottom: 5px; margin-top: 5px; color: white;border: 2px none #98a6bd;padding: 1px 8px 1px 8px;border-radius: 2px;background: #17a2b8;">
                                                                    <em>From </em><%= event.data.from %>
                                                                    <em>To </em> <%= event.data.to %>
                                                                </div>
                                                            <% } %>
                                                        <% } %>
                                                        <a class="action" href="<%= event.liveLink %>">Live</a>
                                                        <a class="action"
                                                           href="<%= event.timeTravelLink %>">TimeTravel</a>
                                                        <a class="action" href="<%= event.unmuteLink %>">Unmute</a>
                                                    </li>
                                                <% }) %>
                                            <% } %>
                                            <% if(nodeEvents.length > 0){ %>
                                                <% nodeEvents.forEach(event => { %>
                                                    <li>
                                                        <h4 style="margin-bottom: 0;color: #595f66"><%= event.source %></h4>
                                                        <p style="margin-bottom: 0; margin-top: 0; color: #595f66">
                                                            <%= event.description %>
                                                        </p>

                                                        <a class="action" href="<%= event.liveLink %>">Live</a>
                                                        <a class="action"
                                                           href="<%= event.timeTravelLink %>">TimeTravel</a>
                                                        <a class="action" href="<%= event.unmuteLink %>">Unmute</a>
                                                    </li>
                                                <% }) %>
                                            <% } %>
                                            <% if(organizationEvents.length > 0){ %>
                                                <% organizationEvents.forEach(event => { %>
                                                    <li>
                                                        <h4 style="margin-bottom: 0;color: #595f66"><%= event.source %></h4>
                                                        <p style="margin-bottom: 0;margin-top: 0; color: #595f66">
                                                            <%= event.description %>
                                                        </p>
                                                        <a class="action" href="<%= event.liveLink %>">Live</a>
                                                        <a class="action"
                                                           href="<%= event.timeTravelLink %>">TimeTravel</a>
                                                        <a class="action" href="<%= event.unmuteLink %>">Unmute</a>
                                                    </li>
                                                <% }) %>
                                            <% } %>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                        <td class="alert alert-warning"
                            style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; color: #fff; font-weight: 500; text-align: center; border-radius: 3px 3px 0 0; background-color: #17a2b8; margin: 0; padding: 20px;"
                            align="center" bgcolor="#FF9F00" valign="top">
                            Info: Event notifications are muted for 24H after occurring. Use the unmute link if you want
                            to receive them again immediately
                        </td>
                    </tr>
                </table>
                <div class="footer"
                     style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; clear: both; color: #999; margin: 0; padding: 20px;">
                    <table width="100%"
                           style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                            <td class="content-block"
                                style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; vertical-align: top; color: #999; text-align: center; margin: 0; padding: 0 0 20px;"
                                align="center" valign="top"><a
                                        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; color: #999; text-decoration: underline; margin: 0;"
                                        href=<%= unsubscribeLink %>>Unsubscribe from all events and delete email address</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
        <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;"
            valign="top"></td>
    </tr>
</table>
</body>
</html>
